<!DOCTYPE html>
<html lang="kr" xml:lang="kr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="manty scuba" >
    <meta name="keywords" content="scuba,manty,mantyscuba,만티,스쿠바,스쿠버"/>
    <meta name="author" content="zbum">

    <title layout:title-pattern="$CONTENT_TITLE">스쿠버 다이빙 클럽 - MANTY SCUBA</title>
    <th:block th:insert="~{decorators/manty/common/favicon :: favicon}" ></th:block>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link th:href="@{/css/carousel.css}" rel="stylesheet">
    <link th:href="@{/bootstrap-datepicker/css/datepicker.css}" rel="stylesheet">
    <link th:href="@{/css/callout.css}" rel="stylesheet">
    <link th:href="@{/css/apollo.css}" rel="stylesheet" >
    <link th:href="@{/css/social.css}" rel="stylesheet" >
    <link th:href="@{/css/manty.css(v=2)}" rel="stylesheet">
    <link th:href="@{/css/wow/animate.css}" rel="stylesheet">
    <link th:href="@{/css/blurred.css}" rel="stylesheet">

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" th:href="@{/owl-carousel/owl-carousel/owl.carousel.css}">

    <!-- Default Theme -->
    <link rel="stylesheet" th:href="@{/owl-carousel/owl-carousel/owl.theme.css}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/bootstrapvalidator-dist/dist/css/bootstrapValidator.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrapvalidator-dist/dist/js/bootstrapValidator.min.js}"></script>

    <!-- Include js plugin -->
    <script th:src="@{/owl-carousel/owl-carousel/owl.carousel.min.js}"></script>

    <link th:href="@{//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" rel="stylesheet">

    <style>
        .block-home {
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.8);
        }
    </style>

    <th:block th:insert="~{decorators/manty/common/adsense_auto :: adsense_auto}" ></th:block>
    <th:block th:insert="~{decorators/manty/common/analytics :: analytics}" ></th:block>
</head>
<body>
<th:block th:insert="~{decorators/manty/common/facebook :: facebook}" ></th:block>
<th:block th:insert="~{decorators/manty/common/naver :: naver}" ></th:block>
<th:block th:insert="~{decorators/manty/common/menu :: menu}" ></th:block>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" >
            <img src="/images/ext/carousel_title_2.jpg"  style="background-repeat: repeat-x; background-size: contain;" alt="" class="carousel-image title-inverse blurred" id="carousel-image-1">
            <div class="container">
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col-md-12 hidden-sm hidden-md hidden-lg">
                            <img class="img-responsive center-block" width="30%" src="/images/ext/manty_logo.png" />
                        </div>
                        <div class="col-md-9 text-left hidden-xs">
                            <h2><div th:text="${#messages.msg('title')}">MANTY SCUBA</div></h2>
                            <p>IT와 스쿠바 다이빙을 좋아하는 사람들 - 서울, 분당 지역</p>
                        </div>
                    </div>
                    <p><a class="btn btn-lg btn-primary go-reservation" href="/bbs/ext/tuicalendar" role="button"><i class="fa fa-calendar"></i> 일정보기</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/images/ext/carousel_title_4.jpg"  style="background-repeat: repeat-x; background-size: contain;" alt="" class="carousel-image title-inverse" id="carousel-image-2">
            <div class="container">
                <div class="carousel-caption" style="color:#111111;text-shadow:none;">
                    <div class="row">
                        <div class="col-md-9 text-left">
                            <h2><div th:text="${#messages.msg('title')}">MANTY SCUBA</div></h2>
                            <p>"다이빙 강사가 들려주는 개발이야기"에서 만티스쿠바를 개발하면서 얻은 지식을 공유합니다.</p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <p><a class="btn btn-lg btn-primary go-reservation" href="/bbs/list/develop" role="button"><i class="fa fa-calendar"></i> 개발이야기</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/images/ext/carousel_title_3.jpg"  style="background-repeat: repeat-x; background-size: cover;" alt="" class="carousel-image title-inverse" id="carousel-image-3">
            <div class="container">
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <h2><div th:text="${#messages.msg('title')}">MANTY SCUBA</div></h2>
                            <p>
                                페이스북, 네이버 회원이면 가입없이 로그인 가능합니다.
                                만티스쿠바는 SNS 계정정보를 저장하지 않습니다.
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <p><a class="btn btn-lg btn-primary go-reservation" data-toggle="modal" data-target="#login-modal" role="button">로그인</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing" style="min-height: 40em">
    <th:block layout:fragment="content"></th:block>
</div><!-- /.container -->

<!-- FOOTER -->
<div th:insert="~{decorators/manty/common/footer :: footer}" ></div>
<div th:insert="~{decorators/manty/common/login :: login}" ></div>

</body>
</html>