<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="decorators/manty/list">
<head>
    <link th:href="@{//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css}" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function(){
        });
    </script>
</head>

<body>
<th:block layout:fragment="content" >
    <h4>접근할 수 없는 계시판입니다. 로그인 해 주세요.</h4>
    <br />
    <div class="row">
        <div class="col-md-12 ">
            <button type="button" id="manty-signup-button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal"><i class="fa fa-email"></i> 로그인 </button>
        </div>
    </div>
</th:block>
</body>
</html>
