<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="decorators/manty/list">
<head>
    <link th:href="@{//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/summernote/summernote.css}" rel="stylesheet">
    <script th:src="@{/summernote/summernote.min.js}"></script>

    <script type="text/javascript">
	    $(document).ready(function(){
	    });
	</script>
</head>

<body>
<th:block layout:fragment="content">
    <h3>
        <i class="fa fa-user"></i>
        회원가입 활성화 확인 | <small> 계정 활성화 확인.</small>
    </h3>

    <hr />
    <h4>축하합니다. 계정이 활성화 되었습니다. 가입해 주셔서 감사합니다.</h4>
    <br />
    <div class="row">
        <div class="col-md-12 ">
            <button type="button" id="manty-signup-button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal"><i class="fa fa-email"></i> 로그인 </button>
        </div>
    </div>
</th:block>
</body>
</html>